/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "bebasneue";
  src: url(../fonts/bebasneue/bebasneue-regular.ttf);
}
@font-face {
  font-family: "open-sans";
  src: url(../fonts/open_sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
:root {
  --primary-color: black;
  --text-color: white;
  --link-color: rgb(72, 178, 239);
  --line-height-heading: 1.1;
  --line-height-base: 1.6;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-semibold: 700;
  --font-weight-bold: 900;
  --mini-space: 0.5rem;
  --small-space: 1rem;
  --normal-space: 1.5rem;
  --medium-space: 3rem;
  --big-space: 5rem;
  --mega-space: 10rem;
  --giga-space: 15rem;
  /* @link https://utopia.fyi/type/calculator?c=390,18,1.333,1920,25,1.25,4,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.9rem, 0.6rem + 0.4075vw, 1rem);
  --step--1: clamp(1rem, 0.8rem + 0.4275vw, 1.2rem);
  --step-0: clamp(1.25rem, 1.0135rem + 0.4575vw, 1.5rem);
  --step-1: clamp(1.4rem, 1.384rem + 0.4742vw, 1.7rem);
  --step-2: clamp(2.6647rem, 2.566rem + 0.4048vw, 3.0518rem);
  --step-3: clamp(3.552rem, 4rem + 0.35vw, 5rem);
}

body {
  font-family: "open-sans", sans-serif;
  font-weight: var(--font-weight-normal);
  background-color: var(--primary-color);
  color: var(--text-color);
}

h1,
h2 {
  font-family: "bebasneue";
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
  margin-block-end: var(--small-space);
}

p {
  font-size: var(--step-0);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
}

a {
  font-weight: var(--font-weight-medium);
  color: var(--link-color);
}

.line-break {
  display: block;
}

.splash {
  animation: splash-effect 5s forwards;
}

@keyframes splash-effect {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(150vh) scale(2);
    opacity: 0;
  }
}
@keyframes arrow-up {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.horizontal {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.horizontal__background {
  position: absolute;
  height: 60%;
  width: 150vw;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.horizontal__background--1 {
  background-image: url("../elements/village1.svg");
  background-position: bottom right 15%;
}
.horizontal__background--2 {
  background-image: url("../elements/village.svg");
  background-position: bottom left 15%;
}
.horizontal__character {
  position: absolute;
  bottom: 5%;
  left: 5%;
  height: 40vh;
  z-index: 2;
}

.history__heading {
  font-size: var(--step-2);
  line-height: var(--line-height-heading);
  max-width: 40ch;
  margin-block-start: var(--mini-space);
}
.history__drop {
  transition: transform 5s ease-in-out;
  width: 8vh;
  margin-block-start: var(--normal-space);
}
.history__part {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding-inline: var(--small-space);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.history__part--crowd {
  background: linear-gradient(rgb(99, 12, 12) 0%, rgb(153, 79, 79) 100%);
}
.history__part--news {
  background: linear-gradient(rgb(71, 67, 61) 0%, rgb(104, 69, 46) 70%, rgb(25, 25, 25) 100%);
}
.history__part--earth {
  background: linear-gradient(rgb(25, 25, 25) 0%, rgb(0, 0, 0) 100%);
}
.history__part--fourPeople, .history__part--countries, .history__part--ending {
  background: linear-gradient(rgb(53, 9, 3) 5%, rgb(154, 54, 8) 80%, rgb(0, 0, 0) 100%);
}
.history__part--river {
  background-color: #47433d;
  padding: 0;
}
.history__part--progress {
  background: linear-gradient(rgb(71, 67, 61) 0%, rgb(14, 74, 119) 5%, rgb(40, 105, 165) 30%, rgb(124, 77, 41) 60%);
}
.history__part--no-justify {
  justify-content: unset;
}
.history__landscape {
  position: absolute;
  width: 225%;
  bottom: 0;
  left: 0;
}
.history__landscape--boiling {
  left: -42%;
}
.history__landscape--crowd {
  left: -62%;
}
.history__landscape--news {
  width: 190%;
  left: -45%;
}
.history__landscape--statistic {
  width: 200%;
  left: -48%;
}
.history__landscape--countries {
  width: 150%;
  left: -20%;
}
.history__landscape--progress {
  width: 250%;
  left: -65%;
}
.history__landscape--ending {
  left: -60%;
}
.history__importantText {
  font-family: "open-sans";
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  transition: all 3s;
}
.history__river {
  fill: none;
  stroke: #1a3047;
  stroke-miterlimit: 10;
  stroke-width: 65px;
  position: absolute;
  height: 100vh;
  right: -86%;
}
.history__river path {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  transition: stroke-dashoffset 5s ease-out;
}
.history__river.animate path {
  stroke-dashoffset: 0;
}
.history__sunrise {
  background: linear-gradient(180deg, rgb(102, 36, 86) 0%, rgb(160, 115, 16) 100%);
}
.history__bluegradient {
  position: absolute;
  width: 100%;
  height: 400vh;
  z-index: -1;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(9, 23, 41) 20%, rgb(9, 23, 41) 40%, rgb(9, 23, 41) 60%, rgb(60, 60, 124) 75%, rgb(102, 36, 86) 100%);
}
.history__text {
  width: 58ch;
  max-width: 100%;
}
.history__text--growing {
  transition: all 3s;
  max-width: 100%;
}
.history__text--short {
  width: 48ch;
}
.history__text--shorter {
  width: 35ch;
}
.history__text--written-firstline, .history__text--written-secondline {
  white-space: wrap;
  display: block;
  overflow-wrap: break-word;
  visibility: hidden;
}
.history__text.visible {
  visibility: visible; /* show when ready */
}
.history__text--top {
  margin-block-start: var(--giga-space);
}
.history__earth-container {
  width: 200%;
  height: 100vh;
  max-height: 350px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.history__character-img {
  width: 35%;
  padding-block-start: var(--small-space);
}
.history__earth-img {
  width: 90%;
  transition: all 6s;
}
.history__plant-img {
  position: absolute;
  bottom: 5%;
  transition: all 3s;
  z-index: 4;
}

.message__text {
  max-width: 75ch;
}
.message__slogan {
  font-size: var(--step-0);
  margin-block: var(--medium-space);
  color: var(--link-color);
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
}
.message__buttons {
  display: flex;
  justify-content: center;
  width: 50%;
  gap: var(--small-space);
  flex-wrap: wrap;
  margin-block-start: var(--normal-space);
}
.message__btn {
  width: 60%;
  background-color: var(--text-color);
  padding: var(--small-space);
  border-radius: var(--small-space);
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: var(--step--1);
}
.message__btn-top {
  position: absolute;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  font-size: var(--step-3);
  align-self: flex-end;
  bottom: 20%;
  right: 10%;
  animation: arrow-up 1s ease-in-out infinite;
}

.footer {
  padding: var(--medium-space);
  text-align: center;
  color: #8ba7b5;
  background-color: #09557e;
}
.footer__text {
  font-size: var(--step--2);
}

@media only screen and (min-width: 900px) {
  .horizontal__background {
    width: 150vw;
    background-position: bottom left;
  }
  .history__drop {
    width: 10vh;
  }
  .history__landscape {
    width: 100%;
    left: 0;
  }
  .history__river {
    stroke-width: 165px;
    right: 0;
  }
  .history__text--top {
    margin-block-start: var(--mega-space);
  }
  .history__text--written-firstline, .history__text--written-secondline {
    white-space: normal;
  }
  .history__character-img {
    width: 10%;
  }
  .history__earth-container {
    width: 100%;
    height: 70vh;
    max-height: 400px;
  }
  .history__earth-img {
    width: 70%;
  }
  .history__plant-img {
    position: absolute;
    bottom: 10%;
    transition: all 3s;
    z-index: 4;
  }
  .message__btn {
    width: 20%;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}/*# sourceMappingURL=style.css.map */