/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "bebasneue";
  src: url(../fonts/bebasneue/bebasneue-regular.ttf);
}
@font-face {
  font-family: "open-sans";
  src: url(../fonts/open_sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
:root {
  --primary-color: black;
  --secondary-color: white;
  --backround-color: #0082b5;
  --text-color: white;
  --line-height-base: 1.2;
  --line-height-paragraph: 1.6;
}

body {
  font-family: "open-sans", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  line-height: var(--line-height-base);
}

main {
  padding: 3rem;
}

h1,
h2 {
  font-family: "bebasneue";
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  margin-block-end: 1rem;
}

p,
li {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: var(--line-height-paragraph);
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  gap: 2%;
}
.section-top__title {
  font-size: 3.5rem;
}
.section-top__text {
  font-size: 2em;
  max-width: 50%;
}
.section-top__icon {
  max-width: 6%;
  opacity: 0;
  transition: transform 0.5s ease-in-out;
}

.splash {
  animation: splash-effect 1s forwards;
}

@keyframes splash-effect {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) scale(5);
    opacity: 0;
  }
}
.section-wave {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}
.section-wave__text {
  font-size: 3em;
}
.section-wave__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 20%;
  transform: translateX(0);
  background: url(/assets/elements/wave.svg) repeat-x;
}

.facts__intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5rem;
}
.facts__text {
  max-width: 80ch;
}
.facts__container {
  display: grid;
  gap: 10rem;
}
.facts__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.facts__item--reverse {
  text-align: right;
}
.facts img {
  width: 80px;
}

.message {
  border-top: 0.1rem solid #09557e;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 4rem;
}
.message__text {
  max-width: 75ch;
}
.message__slogan {
  font-size: 1.5rem;
  margin-block: 3rem;
  color: rgb(72, 178, 239);
  text-transform: uppercase;
  font-weight: 600;
}
.message__btn {
  padding: 1.2rem;
  border-radius: 1rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer {
  padding: 2.5rem;
  text-align: center;
  color: #8ba7b5;
  background-color: #09557e;
}
.footer__text {
  font-size: 0.8rem;
}

.horizontal {
  display: flex;
  height: 100vh;
  gap: 2rem;
  background-color: #09557e;
  align-items: center;
  overflow-x: hidden;
}
.horizontal__container {
  flex-shrink: 0;
  padding: 1rem;
  height: 75%;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1.5px solid #fff;
  border-radius: 20px;
}
.horizontal__container:nth-child(1) {
  margin-inline-start: 2rem;
}

.scrollContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-block-start: 2rem;
}
.scrollContent > * {
  text-align: center;
}
.scrollContent__img {
  width: 30%;
}
.scrollContent__title {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}
.scrollContent__paragraph {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

@media (max-width: 799px) {
  .horizontal {
    flex-direction: column;
    height: auto;
    padding: 2rem 0;
  }
  .horizontal__container {
    width: 80%;
    height: auto;
  }
  .horizontal__container:nth-child(1) {
    margin-inline-start: 0;
  }
}/*# sourceMappingURL=style.css.map */