
// Imports all css assets
@use "reset.css";
// Heading font
@font-face {
    font-family: "bebasneue";
    src: url(../fonts/bebasneue/bebasneue-regular.ttf);
}
// Main font
@font-face {
    font-family: "open-sans";
    src: url(../fonts/open_sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
// Variables
:root {
    --primary-color: black;
    --secondary-color: white;
    --backround-color: #0082b5;
    --text-color: white;
    //Styles
    --line-height-goal-p: 1.1;
    --line-height-paragraph: 1.6;
    // Font Sizes - Clamp
    /* @link https://utopia.fyi/type/calculator?c=390,18,1.333,1920,25,1.25,4,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step-0: clamp(1.25rem, 1.0135rem + 0.4575vw, 1.5625rem);
    --step-1: clamp(1.4rem, 1.384rem + 0.4742vw, 1.7rem);
    --step-2: clamp(1.999rem, 1.8862rem + 0.4626vw, 2.4414rem);
    --step-3: clamp(2.6647rem, 2.566rem + 0.4048vw, 3.0518rem);
    --step-4: clamp(3.552rem, 3.485rem + 0.2747vw, 3.8147rem);
}
//Globals
body {
    font-family: "open-sans", sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}
h1,
h2 {
    font-family: "bebasneue";
}
h1 {
    font-size: var(--step-4);
}
h2 {
    font-size: var(--step-3);
    margin-block-end: 1rem;
}
p,
li {
    font-size: var(--step-0);
    font-weight: 400;
    line-height: var(--line-height-paragraph);
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.line-break {
    display: block;
}
// Section 1 - Intro + Waterdrop
.section-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding-inline: 3rem;
    gap: 1%;
    &__text {
        font-size: var(--step-1);
        font-weight: 700;
        text-transform: uppercase;
        line-height: var(--line-height-goal-p);
        max-width: 40ch;
    }
    &__icon {
        transition: transform 0.5s ease-in-out;
        opacity: 100%;
        width: 8vh;
    }
}
.splash {
    animation: splash-effect 5s forwards;
}
@keyframes splash-effect {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(150vh) scale(2);
        opacity: 0;
    }
}
// Section 2 -  Wave effect
.section-wave {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    &__text {
        font-size: var(--step-2);
        max-width: 45ch;
        transition: font-size 5s;
    }
    &__icon {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-size: auto 100%;
        background: url(../elements/wave.svg) repeat-x;
    }
}
// Horizontal-Scroll
.horizontal {
    display: flex;
    height: 100vh;
    gap: 2rem;
    background-color: #09557e;
    align-items: center;
    overflow-x: hidden;
    &__container {
        flex-shrink: 0;
        padding: 1rem;
        height: 79%;
        width: 30%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 1.5px solid #fff;
        border-radius: 20px;
        
        &:nth-child(1) {
            margin-inline-start: 2rem;
        }
    }
}
.scrollContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-block-start: 80px;
    & > * {
        text-align: center;
    }
    &__container {
        position: relative;
        &--img {
            display: block;
            width: 150px;
        }
        &--title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
@media (max-width: 999px) {
    .horizontal__container {
        width: 80%;
        height: 550px;  

    }
    .scrollContent{
        margin-block-start: 30px;
    }
}
  
// History about Maya
.history { 
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  
    // Makes each part of the story fill the whole viewport
    &__part {
        scroll-snap-align: start;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        max-width: 100%;
        padding-inline: 2rem;
        
        &--intro {
            padding-inline: 1rem;
        }
        &--unset { // makes it possible to place text further up on the page, instead of centered
            justify-content: unset;
        }
        &--drought-gradient {
            background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.7) 0%,
                    rgba(50, 185, 238, 0.5) 30%,
                    rgba(252, 228, 150, 0.1) 65%
                ),
                url("../elements/dry-earth.svg");
            background-size: 100%;
            background-position:
                center top,
                center bottom;
            background-repeat: no-repeat;
        }
        &--hope-gradient {
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.7) 0%,
                rgba(50, 185, 238, 0.5) 30%,
                rgba(241, 138, 35, 0.5) 90%,
                rgba(236, 195, 149, 0.5) 90%
            );
        }
        &--red-gradient {
            background: linear-gradient(
                180deg,
                rgba(236, 195, 149, 0.5) 0,
                rgba(238, 50, 50, 0.5) 30%,
                rgba(0, 0, 0, 0.1) 80%
            );
            padding: 0;
        }
    }
    &__importantText { 
        font-family: 'open-sans';
        font-weight: 900;
        text-transform: uppercase;
        transition: all 3s;
    }
    &__sunrise {
        height: 200vh;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(84, 57, 99, 1) 26%,
            rgba(204, 83, 107, 1) 55%,
            rgba(253, 146, 112, 1) 94%,
            rgba(0, 0, 0, 1) 94%
        );
    }
    
    &__text {
        width: 58ch;
        max-width: 100%;
        
        &--characterIntro {
            font-size: var(--step-1);
        }
        &--growing {
            transition: all 3s;
            max-width: 100%;
        }
        &--shorter {
            width: 48ch;
        }
        &--written-firstline, &--written-secondline {
            transition: all 7s;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
        }
        &--written-secondline {
            transition-delay: 2.2s;
        }
        &--top {
            margin-block-start: 12rem;
        }
        &--left {
            align-self: flex-start;
            position: absolute;
            top: 20%;
        }
        &--right {
            align-self: flex-end;
            margin-inline-end: 7rem;
            width: 30ch;
            position: absolute;
            bottom: 15%;
        }
    }
    // Cuts the earth image in half
    &__earth-container {
        width: 100%;
        height: 35vw;
        max-height: 200px;
        overflow: hidden;
        margin-block: 3rem;
    }
    &__river {
        stroke: var(--backround-color);
        stroke-width: 2.5rem;
        fill: transparent;
        width: 100%;
        height: 100%;
        transition: all 3s;
        position: absolute;
        left: 0;
        top: 25%;
    }
    &__character-img {
        width: 10%;
        padding-block-start: 1rem;
        &--buckets {
            display: flex;
            position: absolute;
            bottom: 12%;
            width: 12%;
        }
        &--small {
            width: 8%;
            margin-block-start: 1.5rem;
        }
    }
    &__boiling-img {
        width: 20%;
        margin-block: 3rem;
    }
    &__earth-img {
        width: 30%;
        transition: all 6s;
    }
    &__plant-img {
        position: absolute;
        bottom: 10%;
        transition: all 3s;
    }
}
.message {
    border-top: 0.1rem solid #09557e;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-inline: 2rem;
    &__text {
        max-width: 75ch;
    }
    &__slogan {
        font-size: var(--step-0);
        margin-block: 3rem;
        color: rgb(72, 178, 239);
        text-transform: uppercase;
        font-weight: 600;
    }
    &__btn {
        padding: 1.2rem;
        border-radius: 1rem;
        border: none;
        font-size: 0.9rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}
.footer {
    padding: 2.5rem;
    text-align: center;
    color: #8ba7b5;
    background-color: #09557e;
    &__text {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .history__text--written-firstline,
    .history__text--written-secondline {
        white-space: wrap;
    }
    .history {
        &__character-img {
            width: 35%;
        }
    
        &__boiling-img {
            width: 55%;
        }
    
        &__earth-img {
            width: 90%;
        }
        &__text {
            &--left, &--right {
                width: 20ch;
                margin: 0;
            }
        }
        &__river {
            stroke-width: 1.5rem;
            top: 20%;
        }
    }
}
