// Imports all css assets
@use "reset.css";

// Heading font
@font-face {
    font-family: "bebasneue";
    src: url(../fonts/bebasneue/bebasneue-regular.ttf);
}

// Main font
@font-face {
    font-family: "open-sans";
    src: url(../fonts/open_sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

// Variables
:root {
    --primary-color: black;
    --secondary-color: white;
    --backround-color: #0082b5;
    --text-color: white;
    //Font styles
    --line-height-base: 1.2;
    --line-height-paragraph: 1.6;
}

//Globals
body {
    font-family: "open-sans", sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    line-height: var(--line-height-base);
}

h1,
h2 {
    font-family: "bebasneue";
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    margin-block-end: 1rem;
}

p,
li {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: var(--line-height-paragraph);
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.line-break {
    display: block;
}

// Section 1 - Intro + Waterdrop
.section-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 2%;

    &__title {
        font-size: 3.5rem;
    }
    &__text {
        font-size: 2em;
        max-width: 50%;
    }
    &__icon {
        max-width: 6%;
        opacity: 0;
        transition: transform 0.5s ease-in-out;
    }
}

.splash {
    animation: splash-effect 1s forwards;
}

@keyframes splash-effect {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) scale(5);
        opacity: 0;
    }
}

// Section 2 -  Wave effect
.section-wave {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    &__text {
        font-size: 3em;
        max-width: 70%;
    }
    &__icon {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-size: auto 100%;
        background: url(/assets/elements/wave.svg) repeat-x;
    }
}

// Horizontal-Scroll
.horizontal {
    position: relative;
    display: flex;
    height: 100vh;
    gap: 2rem;
    background-color: #09557e;
    align-items: center;
    overflow-x: hidden;
    &__container {
        flex-shrink: 0;
        padding: 1rem;
        height: 75%;
        width: 30%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 1.5px solid #fff;
        border-radius: 20px;
        
        &:nth-child(1) {
            margin-inline-start: 2rem;
        }

    }
}
.scrollContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-block-start: 80px;
    & > * {
        text-align: center;
    }
    &__container{
        position: relative;
    &--img{
        display: block;
        width: 150px;
    }
    &--title{
        position: absolute;
        top: 45%;
        left: 40%;
        font-size: clamp(1.7rem, 2.5vw, 2rem);
    }
    }
    &__paragraph {
        font-size: clamp(1rem, 2vw, 1.2rem);
    }
}

@media (max-width: 999px) {
    .horizontal {
        flex-direction: column;
        height: auto;
        padding-block: 2rem;
    }
    .horizontal__container {
        width: 80%;
        height: auto;
        &:nth-child(1) {
            margin-inline-start: 0;
        }
    }
    .scrollContent{
        margin-block-start: 30px;
    }
}

// Facts about goal 6
.history {
    &__part {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        &--unset {
            justify-content: unset;
        }
        &--drought {
            background:
              linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(50, 185, 238, 0.5) 30%, rgba(252, 228, 150, 0.1) 65%),
              url('../elements/dry-earth.svg');
            background-size: 100%;
            background-position: center top, center bottom; /* gradient from top, image at the bottom */
            background-repeat: no-repeat;
        }

        &--hope {
            background:
              linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(50, 185, 238, 0.5) 30%, rgba(241, 138, 35, 0.5) 65%, rgba(103, 99, 16, 0.5) 90%);
            background-size: 100%;
            background-position: center top, center bottom; /* gradient from top, image at the bottom */
            background-repeat: no-repeat;
        }

        &--red {
            background:
              linear-gradient(180deg, rgba(103, 99, 16, 0.5) 0%, rgba(238, 50, 50, 0.5) 30%, rgba(0, 0, 0, 0.1) 80%);
            background-size: 100%;
            background-position: center top, center bottom; /* gradient from top, image at the bottom */
            background-repeat: no-repeat;
        }
    }

    &__important {
        font-family: bebasneue;
        font-size: 3rem;
        
        &--name {
            font-size: 4.5rem;
        }
    }

    &__sunrise {
        height: 200vh;
        background: linear-gradient(180deg,
                    rgba(0, 0, 0, 1) 0%, 
                    rgba(84, 57, 99, 1) 26%, 
                    rgba(204, 83, 107, 1) 55%, 
                    rgba(253, 146, 112, 1) 94%, 
                    rgba(0, 0, 0, 1) 94%);
    }


    &__title {
        font-size: 3rem;
    }
    &__text {
        max-width: 58ch;

        &--shorter {
            max-width: 48ch;
        }

        &--top {
            margin-block-start: 12rem;
        }

        &--left {
            margin-inline-start: 10rem;
            align-self: flex-start;
        }

        &--right {
            align-self: flex-end;
            margin-inline-end: 10rem;
            width: 30ch;
            position: absolute;
            bottom: 15%;
        }
    }

    &__boiling-img {
        width: 20%;
        margin-block: 3rem;
    }

    &__earth-container {
        width: 100%;
        height: 30%; /* Half the height of the globe */
        overflow: hidden;
        margin-block: 3rem;
    }

    &__river {
        stroke: var(--backround-color); 
        stroke-width: 2.5rem; 
        fill: transparent;
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 10%;

        &--character {
            display: flex;
            position: absolute;
            bottom: 12%;
            width: 12%;
        }

        &--character-small {
            width: 8%;
            margin-block-start: 1.5rem;
        }

        &--earth {
            width: 30%;
        }
    }
}

.message {
    border-top: 0.1rem solid #09557e;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 4rem;
    padding: 3rem;

    &__text {
        max-width: 75ch;
    }

    &__slogan {
        font-size: 1.5rem;
        margin-block: 3rem;
        color: rgb(72, 178, 239);
        text-transform: uppercase;
        font-weight: 600;
    }

    &__btn {
        padding: 1.2rem;
        border-radius: 1rem;
        border: none;
        font-size: 0.9rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.footer {
    padding: 2.5rem;
    text-align: center;
    color: #8ba7b5;
    background-color: #09557e;

    &__text {
        font-size: 0.8rem;
    }
}
